build/android-profile/profile-2017-05-21-16-49-56-937.rawproto
build/android-profile/profile-2017-05-21-16-50-03-836.rawproto
build/android-profile/profile-2017-07-16-12-59-19-281.rawproto
build/android-profile/profile-2017-07-16-12-59-31-498.rawproto
build/android-profile/profile-2017-07-16-16-45-06-815.rawproto
build/android-profile/profile-2017-07-16-16-45-15-212.rawproto
build/android-profile/profile-2017-08-20-10-11-50-928.rawproto
build/android-profile/profile-2017-08-20-10-11-57-325.rawproto
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.idea/workspace.xml
app/build/intermediates/res/resources-debug.ap_
