<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adaskin.android.stockwatcher4"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="com.adaskin.android.stockwatcher4.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.OwnedAddActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".views.OwnedDetailsActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".views.WatchAddActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".views.WatchDetailsActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".views.BuyBlockAddActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".views.ChangeParameterActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".views.GenericDetailsActivity" />
    </application>

</manifest>
